@charset "UTF-8";
#wrap {
	width: 90%;
	max-width: 1100px;
	display: inline;
}


.fifty {

		top: 63px;
    position: absolute;
    width: 30%;
    height: 16px;
    float: left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: repeating-linear-gradient(135deg, rgb(77, 223, 212), rgb(77, 223, 212) 2px, rgb(153, 237, 230) 2px, rgb(153, 237, 230) 4px);
}
#container{
display: inline;
    float: left;
    width: 60%;
    height: 710px;
  padding-bottom: 102px;
  margin-left: 40px;
}
#left{
	display:inline;
	width:30%;
	height: 1250px;
	background-color: #FAFAFA;
	float: right;
}
header img {
	width: 30px;
	height: 30px;
	vertical-align: middle;
}

h5 {
	display: inline;
	margin-left: 30px;
}

h2 {
	color: #6E6E6E;
	font-size: 20px;
}
/*진행바  */
progress {
	width: 100%;
	-webkit-appearance: none;
	border: 1px solid;
	border-radius: 100px;
	background: white;
}

progress::-webkit-progress-bar-value {
	-webkit-appearance: none;
	background: orangered;
}

progress {
	color: lightblue;
}

progress::-webkit-progress-value {
	background: white;
}

progress::-moz-progress-bar {
	background: lightcolor;
}

progress::-webkit-progress-value {
	background: #008489;
	border-radius: 100px;
}
progress[value="20"]::-webkit-progress-value {
	background:red;
	border-radius: 100px;
}

progress::-webkit-progress-bar {
	background: white;
}
/*텍스트창  */
textarea {
	overflow: hidden;
	outline-style: none;
	border-radius: 5px;
	width: 70%;
	height: 216px;
}
textarea:focus{
	outline: 1px solid #008489;
}
/*남는 글자수 */
#descriptionWord {
    color: #008489;
    position: relative;
    top: 200px;
    left: -32%;
    font-size: 12px;
    float: right;
}
.warning{
color:red;
}
/*남는 글자수 */
#etcWord{
    color: #008489;
    position: relative;
    top: 200px;
    left: -32%;
    font-size: 12px;
    float: right;
}
.etc-warning{
color:red;
}
/*이전 다음버튼  */
.btn-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 30px;
    font-size: 20px;
}

/* 이전 버튼 */
#prevBtn {
	padding: 5px;
}

#prevBtn:visited {
	color: #008489;
}

/* 다음 버튼 */
#nextBtn {
    text-decoration: none;
    width: 75px;
    background: #008489;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
/*미디어 쿼리  */
@media (max-width: 768px){
#wrap{
	width:768px;
	margin-left: 0px;
	margin-right: 0px;

}

.previous-link {
    position: relative;
    top: 90px;
    background-size: 20px;
  
    border: none;
    font-size: 20px;
    color: #008489;
    right: 0;
}
#left{
	display: none;
}
a [href="./photo?hostId=${hostId }"]{
    position: relative;
    top: 350px;
    width: 80px;
    height: 45px;
    background-color: #008489;
    float: right;
    color: white;
    border-radius: 10px;
    border: 1px solid;
}
.next-link {
    position: relative;
    top: 65px;
    width: 80px;
    height: 45px;
    background-color: #008489;
    float: right;
    color: white;
    border-radius: 10px;
    border: 1px solid;
}
textarea {
    overflow: hidden;
    outline-style: none;
    border-radius: 5px;
    width: 100%;
    height: 216px;
}
#descriptionWord {
    color: #008489;
    position: relative;
    top: -30px;
    left: -0%;
    font-size: 12px;
    float: right;
}
}
/*모바일  */
@media (max-width: 480px){
	#wrap{
	width:480px;
	margin-left: 0px;
	margin-right: 0px;

}


a [href="./photo?hostId=${hostId }"] {
    position: relative;
    top: 190px;
    width: 80px;
    height: 45px;
    background-color: #008489;
    float: right;
    color: white;
    border-radius: 10px;
    border: 1px solid;
    left: 100px;
}
h1{
	font-size: 24px;
}
#left{
	display: none;
}
.fifty {


    top: 89px;
    position: absolute;
    width: 30%;
    height: 16px;
    float: left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: repeating-linear-gradient(135deg, rgb(77, 223, 212), rgb(77, 223, 212) 2px, rgb(153, 237, 230) 2px, rgb(153, 237, 230) 4px);

}
#descriptionWord {
    color: #008489;
    position: relative;
    top: -40px;
    font-size: 12px;
    float: right;
    left: 0px;
}
.next-link {
    position: relative;
    top: 65px;
    width: 80px;
    height: 45px;
    background-color: #008489;
    float: right;
    color: white;
    border-radius: 10px;
    border: 1px solid;
    left: 40%;
}
.previous-link {
    position: relative;
    top: 90px;


    left: -30px;
    border: none;
}

}